<!DOCTYPE html>
<html lang="uk">

<head>
    <meta charset="UTF-8">
    <title>Home</title>

</head>

<body>
    <h1>Вітаємо! {{username}}</h1>
    <div>
        <nav>
            <a href="/search_friends">Пошук друзів</a>
            <a href="/my_friends">Мої друзі</a>
            <a href="/friend_requests">Запити на дружбу</a>
            <a href="/new_messages">Нові повідомлення</a>
            <a href="/logout">Вихід</a>
        </nav>
    </div>

    Users count: {{users_count}}
    Messages count: {{messages_count}}
</body>

</html>